.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 45px;
  height: auto;
}

.logo span {
  font-size: 25px; /* Tamaño del texto */
  font: bold;
}

.containerCart {
  width: 900px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  transition: transform 0.5s;
}

svg {
  width: 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

header .icon-cart {
  position: relative;
}

header.icon-cart span {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -20px;
}

.cartTab {
  width: 400px;
  background-color: lightgray;
  color: black;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
}

body.mostrarCart .cartTab {
  inset: 0 0 0 auto;
}

body.mostrarCart .container {
  transform: translateX(-250px);
}

.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}

.cartTab .button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .button button {
  background-color: #555;
  border: none;
  font-family: Fraunces;
  font-weight: 500;
  cursor: pointer;
}

.cartTab .button .close {
  background-color: #eee;
}

.cartTab .listaCart .item img {
  width: 100%;
  margin-left: 10px;
}

.cartTab .listaCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.listaCart .cantidad span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  color: #555;
  border-radius: 50%;
  cursor: pointer;
}

.listaCart .cantidad span:nth-child(2) {
  background-color: transparent;
  color: black;
}

.listaCart {
  overflow: auto;
}

.listaCart::-webkit-scrollbar {
  width: 0;
}
