body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  margin: 0; /* Elimina el margen predeterminado del body */
  font-family: "Fraunces", sans-serif;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}
